* {
    font-family: 'Times New Roman', Times, serif;
    padding: 0;
    margin: 0;
}

.logo{
    max-height: 100px;
}

.logo-circle {
    border-style: solid;
    border-width: 5px;
    border-color: darkorchid;
    background-color: darkgreen;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    height: 110px;
    width: 110px;
    border-radius: 50%;
}

#main {
    font-size: 48px;
    font-weight: 900px;
    color: #f9faf8;
}

p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    color: #e5e7eb;
}

li a{
    font-family:'Courier New', Courier, monospace;
    font-size: 18px;
    color: #e5e7eb;
}

.section1 {
    background-color:  #1f2937;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    gap: 20px;
}

.left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 700px;
    gap: 50px;
}

.card{
    width: 450px;
    height: auto;
}

button{
    background-color: #3882f6;
    align-self: flex-start;
    height: 40px;
    width: 180px;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 900;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section2 {
   background-color: white; 
   padding: 50px;
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 20px;
}

.row-images{
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.row-images div img {
    height: 200px;
    width: 250px;
    border-style: solid;
    border-color: #3882f6;
    border-width: 5px;
    border-radius: 15px;
}

.section3{
    background-color: #e5e7eb;
    height: 300px;
    padding: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.section3 div {
    color: #1f2937;
    font-size: 36px;
    font-weight: 500;
    font-style: italic;
}

.author{
    color: black;
    font-weight: 900;
    align-self: flex-end;
}

.section4{
    background-color: white;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    background-color:  #3882f6;
    width: 700px;
    height: 150px;
    display: flex;
    border-radius: 15px;
    align-items: center;
    gap: 15px;
    justify-content: space-around;
    padding: 15px;
    color: white;
}

.container h2{
    font-size: 26px;
    margin-bottom: 10px;
}

.container div{
    width: 400px;
}

.container button{
    background-color:  #3882f6;
    height: 40px;
    width: 180px;
    border-style: solid;
    border-color: white;
    color: white;
    border-width: 2px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 900;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
}
    

.footer{
    background-color:  #1f2937;
    padding: 50px;
    height: 10px;
    color: white;
    text-align: center;
}

nav {
    background-color: #1f2937;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}


 ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
    gap: 30px;
}

